@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 39 92% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 39 92% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 39 89% 60%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 39 92% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 39 92% 50%;
    --input: 39 92% 50%;
    --ring: 39 92% 50%;
    --chart-1: 39 92% 50%;
    --chart-2: 39 85% 55%;
    --chart-3: 39 80% 60%;
    --chart-4: 39 95% 45%;
    --chart-5: 39 90% 48%;
    --radius: 0.5rem
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 39 92% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 39 92% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 39 85% 55%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 39 92% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 39 92% 50%;
    --input: 39 92% 50%;
    --ring: 39 92% 50%;
    --chart-1: 39 92% 50%;
    --chart-2: 39 85% 55%;
    --chart-3: 39 80% 60%;
    --chart-4: 39 95% 45%;
    --chart-5: 39 90% 48%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
